include hdl/_version.py
include jupyfuncs/_version.py
include jupyfuncs/datasets/*.json
include jupyfuncs/datasets/*.txt
include jupyfuncs/datasets/*.tsv
include jupyfuncs/datasets/*.pkl
include jupyfuncs/datasets/*.ckpt
include jupyfuncs/datasets/*.pth
include jupyfuncs/datasets/*.npz

