include hdl/_version.py
include hdl/datasets/*.txt
include hdl/datasets/*.pkl
include hdl/datasets/*.ckpt
include hdl/datasets/*.pth
include hdl/datasets/*.npz
include hdl/datasets/*.json
include hdl/datasets/*.txt
include hdl/datasets/*.tsv

